services:
  
  app:
    build: .
    ports:
      - "5500:3000"
    env_file:
      - .env
    depends_on:
     mysql:
        condition: service_healthy

  mysql:
    image: mysql:8.0
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 5s
      retries: 10
    environment:
      MYSQL_ROOT_PASSWORD: Rohit@123
      MYSQL_DATABASE: new_year_db
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
